<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Thankyou</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
    <style>
        #mssg{font-family:Raleway;
              font-size:50px;
        }
        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

    </style>
</head>
<body bgcolor="skyblue">
    <center>
        <p id="mssg">Thank you for registering with Aslepius Hospital. Your login credentials have been sent to you via mail.</p>
        <p><a href="{% url 'login' %}" id="mssg">Click here to login</a></p>
    </center>
    
</body>
</html>