#title{
    text-align: center;
    margin-top: 20px;
    font-size: 80px;
    font-family: 'Bangers', cursive;
}

#dept{
  text-align: center;
}

#choose{
  text-align: center;
  font-family: 'Kalam', cursive;
}
