<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DIET AND NUTRITION</title>
    <link rel="stylesheet" href="/static/css/Diet_and_Nutrition.css">
    <link href="https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1 id="meet1">MEET YOUR DOCTOR</h1>
    <h3 id="meet2">DIET AND NUTRITION</h3>
    <div class="card-group">
      <div class="card">
        <img src="https://www.narayanahealth.org/sites/default/files/styles/doctors_image_style_200x200_/public/default_images/doctor-default_0.png?itok=W_uYmu-m" class="card-img-top" alt="...">
        <div class="card-body">{% block content %}{% endblock %}</div>

      </div>
      <div class="card">
        <img src="https://www.narayanahealth.org/sites/default/files/styles/doctors_image_style_200x200_/public/default_images/doctor-default_0.png?itok=W_uYmu-m" class="card-img-top" alt="...">
        <div class="card-body">{% block content1 %}{% endblock %}</div>

      </div>
    </div>

  </body>
</html>
