<html>
    <head>
        <title>WHAT IS BLUE BABY SYNDROME?</title>
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <style>
            h1{
                text-align: center;
                font-family: 'Permanent Marker', cursive;
            }
            h3{
                color: brown;
                font-family: 'Gochi Hand', cursive;
                font-size: 23px;
            }
            p{
                font-family: 'Montserrat', sans-serif;
            }
            ul{
                font-family: 'Montserrat', sans-serif;
            }
            h4{
                font-family: 'Gochi Hand', cursive;
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        <h1>WHAT IS BLUE BABY SYNDROME?</h1>
        <p>As the name depicts, the blue baby syndrome is the bluish discoloration of an infant’s skin due to a lack of oxygen in the hemoglobin of their blood. It is also called as Infant Methemoglobinemia. A few babies are born with certain conditions or defects of heart leading to blue or cyanotic babies. Signs of Cyanosis are noted on lips, earlobes, and nail beds where their shape becomes rounded indicating a heart condition.</p>
        <h3>What causes Blue Baby Syndrome?</h3>
        <p>In continuation with the above explanation, the blood goes to the lung for oxygenation which then travels to every nook and corned of the body. In case of certain heart defects or anemia the blood remains short of oxygen and thus blue. Other causes include:</p>
        <ul>
            <li><strong> Tetralogy of Fallot with a hole</strong> between the left and right ventricle, a blocked valve between the right ventricle and pulmonary arteries that take blood for oxygenation to lungs, Displaced Aorta, and a thickened right ventricular wall leading to the flow of oxygen-less blood.</li>
            <li><strong>Methemoglobinemia – </strong>Happens most commonly due to nitrate poisoning. In infants smaller than 6 months the nitrate may get converted to nitrite which when mixed with blood form methemoglobin. This compound traps oxygen and doesn’t release it giving babies a bluish color.</li>
            <li>Infants with Down syndrome may have heart defects.</li>
            <li>Uncontrolled blood sugar during gestation (Gestational Diabetes).</li>
        </ul>
        <h3>Other Symptoms includes:</h3>
        <ul>
            <li>Irritable baby</li>
            <li>Vomiting</li>
            <li>Diarrhea</li>
            <li>Lethargy</li>
            <li>Feeding issues</li>
            <li>Less in weight</li>
            <li>Delayed developmental milestones</li>
            <li>Rapid heart rate</li>
            <li>Seizures</li>
            <li>Clubbing of nails of fingers and toes</li>
        </ul>
        <h3>Diagnosis:</h3>
        <ul>
            <li>Medical History</li>
            <li>Physical Examination</li>
            <li>Blood tests</li>
            <li>Chest X-ray</li>
            <li>Electrocardiogram</li>
            <li>Echocardiogram</li>
            <li>Cardiac catheterization – a long thin tube called a catheter is inserted in an artery of groin, neck, or arm that passage its way to the patient’s heart. A dye is then injected making all defects detectable on an X-ray. It also measures the pressure and oxygen level of the heart. This can also be used as a treatment.</li>
            <li>Oxygen saturation test</li>
        </ul>
        <h3>How do we treat blue baby syndrome?</h3>
        <p>A blue baby syndrome is treated by removing the underlying pathology like:</p>
        <h4>Surgical Management as in the case of congenital heart defects –</h4>
        <p><strong>1. Intra-cardiac Corrective repair of tetralogy of Fallot – </strong>It involves placing a synthetic Dacron patch to close the ventricular septal defect so that the blood can flow normally from the left ventricle to the aorta. It also repairs or replaces the narrowed pulmonary valve and broadens the pulmonary arteries to enhance blood flow to the lungs.</p>
        <p>Another temporary procedure is carried out in premature babies with underdeveloped pulmonary arteries. Here a shunt is created between a branch of aorta and pulmonary artery which later can be reconstructed as above.</p>
        <h4>Medication Management –</h4>
        <p><strong>1. Intravenous Methylene Blue - </strong>Avoid Contaminated Water</p>
        <h3>Prognosis:</h3>
        <p>A blue baby syndrome is an extremely rare disorder and apart from due to heart defects, has a decent prognosis with fewer health penalties. If the disease remains unattended may lead to complications and even death.</p>
        <h3>Prevention:</h3>
        <ul>
            <li>Avoid water from wells. Infant formula should not be made from well water.</li>
            <li>After the infant start consuming solids limit the use of nitrates like broccoli, spinach, beets, and carrots.</li>
            <li>All ecstatic drugs, smoking, alcohol, unnecessary antibiotics like tetracycline should be avoided during pregnancy.</li>
        </ul>
        <p>In a recent survey in three districts of Punjab reported that 20% of all sampled wells exceeded the value of nitrate. With the agricultural and industrial revolution of our country waste and fertilizers create high nitrate concentrates in land and water. Well they say, there is always an underlying cost to industrialization, we are blind-folded because of economic enhancement but our children may have to pay the price.</p>
    </body>
</html>