<html>
    <head>
        <title>COVID-19 RISKS: ALL YOUR QUESTIONS ANSWERED</title>
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <style>
            h1{
                text-align: center;
                font-family: 'Permanent Marker', cursive;
            }
            h3{
                color: brown;
                font-family: 'Gochi Hand', cursive;
                font-size: 23px;
            }
            p{
                font-family: 'Montserrat', sans-serif;
            }
            ul{
                font-family: 'Montserrat', sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>COVID-19 RISKS: ALL YOUR QUESTIONS ANSWERED</h1>
        <p>The world is grappling with an unprecedented outbreak of Covid – 19 across 180 countries. The pandemic is threatening to catapult into a massive healthcare catastrophe, which might result in an unprecedented number of casualties. While a feeling impending doom prevails, it is important to remember than Covid 19 can be avoided with the right precautions and discipline.  And in case of an infection, survival is possible.</p>
        <p>There is a barrage of misinformation and panic flooding through various portals, which is proving to be a bigger threat than the virus itself, so here are the answers to some of the pressing questions.</p>
        <h3>Why social distancing?</h3>
        <p>Social distancing is a preventive measure to avoid the spread of any infection, especially the ones like Covid 19 which is highly contagious and spreads through human contact (aerosol droplets during sneezing and coughing). While Covid 19 will not be severe in all cases and might only result in mild flu-like symptoms, it can prove to be fatal in certain individuals with compromised immunity. So while you might survive an onslaught of the virus, you run the risk of spreading it to someone with underlying health conditions or lesser immunity.</p>
        <p>Hence, social distancing is paramount and the best way to limit the spread of the infection. Also, an exponential increase in the infection cases will overwhelm the healthcare system, and will further exacerbate the situation leading to a lack of medical assistance to the ones in dire need of it.</p>
        <h3>Who is at most risk?</h3>
        <p>Individuals with underlying health conditions like hypertension, diabetes, heart disease,  Renal disease patients/dialysis patients have a higher risk of fatality.  And people with conditions that compromise their immunity (immune-compromised) like cancer, AIDS, or take medications that suppress their immunity (immunosuppressant) in case of organ transplants.</p>
        <p>Age does matter, but it is not a defining factor. Depending on the health status of the individual, the severity of the infection will differ. Older individuals tend to have weaker immunity, which puts them at risk.</p>
        <h3>I am immune-compromised, how can I protect myself?</h3>
        <p>Individuals with compromised immunity can take certain precautions to avoid an infection. Some precautions include:</p>
        <ul>
            <li>Maintaining 6 feet distance from individuals who are sick</li>
            <li>Frequently sanitize/disinfect your immediate surroundings</li>
            <li>Frequently wash your hands with soap for 20 seconds. Thoroughly wash between your fingers and the back of your hand.</li>
            <li>In case provision for washing hands is unavailable, use a 60% – 70% alcohol-based hand sanitizer</li>
            <li>Avoid public places and crowded areas. This includes public transport and public restrooms these are breeding grounds for viruses.</li>
            <li>Sanitize your hands after touching any surfaces as Covid – 19 can remain on certain surfaces for few hours to days.</li>
            <li>Avoid touching your nose, mouth, and ears</li>
            <li>A healthy diet, rich in immunity-boosting food is crucial at this time, ensure you are getting enough rest and sleep to help your body build immunity.</li>
            <li>Eat a lot of fresh vegetables and citrus fruits like orange mosambi.</li>
            <li>Avoid alcohol and tobacco products it will decrease immunity.</li>
        </ul>
        <h3>I am on immune-suppressing medications, what can I do?</h3>
        <p>If you are on immune-suppressing medications, then continue with your medications and consult your doctor in case of any concerns regarding the medications. Abruptly withdrawing from the medications might lead to other health complications and is not advisable without your doctor’s consent.</p>
        <p>It is important to realize that with adequate precautions and safe practices, an infection can be avoided in any individual.</p>
        <h3>What to do, if you are exposed to someone infected with Covid 19?</h3>
        <p>A constant worry lingering in everybody’s mind is being exposed to someone infected with Covid 19, but by adhering to certain guidelines like self-quarantine you can avoid the spread of the disease. In case you are exhibiting symptoms like fever, dry cough, headache and have breathing difficulties, call a doctor or the designated helplines (Covid emergency helplines) to help you take the next course of action. Also, report yourself to the local health authorities’ who will provide you with the required medical assistance.</p>
        <h3>How can I help someone with Covid 19?</h3>
        <p>In case you suspect that a family member or friend has been infected with Covid 19, call the local health authorities or designated Covid helplines for assistance, they will ensure they are taken care of and receive the right medical assistance. Ensure to self-quarantine yourself in case you have been exposed to the infected individual, and follow all the aforementioned guidelines.</p>
        <p>If they are suspected or are awaiting the results and are under self-quarantine, then you can offer to deliver the essential supplies of food and medications to them, provided you avoid direct contact.</p>
        <p>In case you have not directly interacted with the individual who has been hospitalized with the infection, then you can stay in touch with them through phone calls, emails, and text. It is a good option to stay in touch virtually with the infected individual, to help them cope with the isolation. Most importantly, avoid visiting the patient as this could prove to be counterproductive to your safety, especially if you are sick.</p>
        <h3>I’m a healthcare worker, how can I ensure my safety?</h3>
        <p>A job of a healthcare worker can be stressful in such testing times, and it is equally important to ensure your safety. Always wear a mask while dealing with any patients in the hospital, ensure you are wearing gloves at all times. As hospitals are a hotbed for infections, frequently sanitize your hands while working and before heading home.</p>
        <h3>The pandemic is affecting my mental health, what can I do?</h3>
        <p>It is normal to panic in times like these, but your mental well-being is equally important for your overall health. Please remember that our health professionals are well trained to handle such situations. Avoid reading or watching too much news on Covid 19 if it makes you anxious. Engage in some light exercise and hobbies to refresh your mind.</p>
        <p>Bear in mind, that if we do our bit and practice social distancing the number of infections will be lesser. The aim is to prevent a spike in infected cases to avoid overwhelming the healthcare system so that the ones in dire need can get adequate medical care and resources.</p>
    </body>
</html>