<html>
    <head>
        <title>HEART HEALTHY DIET: HOW TO UNCLOG YOUR ARTERIES</title>
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <style>
            h1{
                text-align: center;
                font-family: 'Permanent Marker', cursive;
            }
            h3{
                color: brown;
                font-family: 'Gochi Hand', cursive;
                font-size: 23px;
            }
            p{
                font-family: 'Montserrat', sans-serif;
            }
            ul{
                font-family: 'Montserrat', sans-serif;
            }
            h4{
                font-family: 'Gochi Hand', cursive;
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        <h1>HEART HEALTHY DIET: HOW TO UNCLOG YOUR ARTERIES</h1>
        <h3>Does Diet have an impact on Heart health?</h3>
        <p>Coronary Artery Disease is when your artery walls are restricted and blood flow is hampered due to a build-up of plaque in them. One of the major factors that influence plaque build-up is your overall lifestyle and diet. Some food items develop plaque, while some clear the arteries, help you lose weight and avoid plaque build. </p>
        <p>To help you navigate your way to a healthy heart we’ve compiled a list of the best food for heart blockage that can help unclog arteries naturally.</p>
        <h3>Is it possible to Unclog Arteries Naturally?</h3>
        <p>Although it isn’t possible to remove plaque from your arterial walls without surgery, you can halt and prevent future plaque build-up. Research does not support that specific food items can help clear arteries naturally, but a healthier diet is essential to reduce the chance of it forming in the first place. Hence inculcate healthy eating habits to keep your arteries clear. </p>
        <h3>Diet tips to prevent Coronary Artery Disease:</h3>
        <p>There isn’t any magic diet or best foods to clear arteries, however, an active lifestyle and healthy diet can reduce your risk of developing CAD. Here’s a list of dietary do’s and don’ts when it comes to keeping your heart healthy: </p>
        <ul>
            <li>Fried foods and processed foods must be avoided as they contain excessive unhealthy fats.</li>
            <li>Switch to healthy fats such as Mustard oil, Extra virgin olive oil and ensure that the majority of your fat intake is from healthy sources such as nuts, fish, and seeds.</li>
            <li>Instead of high-fat dairy, switch to skimmed or light versions.</li>
            <li>Reduce your intake of refined carbohydrates and cut down on all kinds of sugars.</li>
            <li>Avoid having more than two standard measures of alcohol in a day.</li>
            <li>Avoid a salty diet and reduce adding salt to foods.</li>
            <li>Also, ensure that you check the labels of all the food items you purchase as these contain salt as a preservative or flavoring agent. </li>
        </ul>
        <h3>Heart healthy foods to include in your diet:</h3>
        <h4>1. Fatty Fish</h4>
        <p>We know it sounds counterintuitive but fat isn’t the enemy, it’s the kind of fat that you should be paying attention to. Fish contains Omega 3 fatty acids that help in reducing the levels of triglycerides in the body. If you find it difficult to include fish naturally then you can incorporate fish oil supplements into your diet. However, the best source of healthy fats is natural fish such as Mackerel or Tuna.</p>
        <h4>2. Olive oil </h4>
        <p>Not all oils are created equal, olive oil is your best bet. You can add a dash of it on your salads or use it in cooking, the monounsaturated oleic acid in it is a kind of healthy fat that slashes your risk of heart disease.</p>
        <h4>3. Nuts</h4>
        <p>Next time you get a craving for some mid-day snacks, reach for a pack of nuts over that pack of fries. From almonds, cashews, macadamia nuts to the humble peanut, all sorts of nuts are a great choice as they are rich in vitamins, fiber, and magnesium and keeps your heart healthy.</p>
        <h4>4. Green Leafy Vegetables</h4>
        <p>Vegetables like Spinach, Kale are a great source of Vitamins, minerals, and antioxidants. They are also a great source of Vitamin K and high in nitrates that help reduce blood pressure and improve the health of cell linings in the arterial walls. They are also low in fat and carbohydrates and a way to fill up your stomach without consuming an excessive amount of calories. Have them as salads or as sabzis or make them a part of your daily diet.</p>
        <h4>5. Berries</h4>
        <p>They are a great source of antioxidants and anthocyanins which help reduce the inflammation in the body. They are the perfect low-calorie dessert and help satiate your sweet tooth without the harm that comes with consuming processed and refined sugars. Add blueberries, blackberries, and strawberries to your diet to add color and sweetness and kill blandness. </p>
        <h4>6. Avocados</h4>
        <p>This superfood helps in reducing the levels of bad LDL cholesterol in your body and is an excellent source of healthy fats. The best part is that healthy fats help keep you satiated for longer and are excellent if you want a creamy rich texture and taste in your diet. Added benefits include that they are rich in potassium as well.</p>
        <h4>7. Beans</h4>
        <p>Resistant starch that has been found in beans has been linked to better heart health. They are one of the ways to unclog your arteries naturally by reducing the level of blood triglycerides and LDL cholesterol. Eating a diet heavy in beans has also been found to reduce inflammation and high blood pressure which are risk factors for CAD. </p>
        <h4>8. Tomatoes</h4>
        <p>Tomatoes are one of nature’s best sources of Lycopene, a plant pigment with natural antioxidant properties. If you are looking for a natural way to clear arteries, then adding tomatoes in your diet may help. Antioxidants in tomatoes can help neutralize the harmful free radicals in the body which have been linked to high risk of heart disease. </p>
        <h4>9. Seeds</h4>
        <p>Flaxseed, pumpkin seeds, sunflower, chia, and others are all great sources of heart-healthy fiber and omega 3 fatty acids. There have been studies that showed evidence that eating seeds in your diet may slash your risk factors such as inflammation, cholesterol, and blood pressure.</p>
        <h4>10. Garlic</h4>
        <p>If you’re looking for foods that help clear arteries, garlic may not feature high on your list, but it is one of the best sources of the therapeutically beneficial medical compound allicin. Studies suggest that high doses of garlic extract over a prolonged time is effective in reducing blood pressure and bad LDL cholesterol.</p>
    </body>
</html>