{% extends "dept/Pulmonology.html" %}
{% block content %}
<h3 class="card-title" id="doctor">{{ object.docname }}</h3>
<p class="card-text" id="post">{{ object.specialisation }}</p>
<p class="card-text" id="degree">{{ object.qualification }}</p>
<input type="submit" name="Book Appointment" value="Book Appointment" id="book" style="margin-left: 12%">
{% endblock %}

{% block content1 %}
<h3 class="card-title" id="doctor">{{ object1.docname }}</h3>
<p class="card-text" id="post">{{ object1.specialisation }}</p>
<p class="card-text" id="degree">{{ object1.qualification }}</p>
<input type="submit" name="Book Appointment" value="Book Appointment" id="book" style="margin-left: 12%">
{% endblock %}

{% block content2 %}
<h3 class="card-title" id="doctor">{{ object2.docname }}</h3>
<p class="card-text" id="post">{{ object2.specialisation }}</p>
<p class="card-text" id="degree">{{ object2.qualification }}</p>
<input type="submit" name="Book Appointment" value="Book Appointment" id="book" style="margin-left: 12%">
{% endblock %}

{% block content3 %}
<h3 class="card-title" id="doctor">{{ object3.docname }}</h3>
<p class="card-text" id="post">{{ object3.specialisation }}</p>
<p class="card-text" id="degree">{{ object3.qualification }}</p>
<input type="submit" name="Book Appointment" value="Book Appointment" id="book" style="margin-left: 12%">
{% endblock %}