{% extends "labs/labs.html" %}
{% block content1 %}
<h3 id="test">{{ object1.testname }}</h3>
<p id="test">PRICE:<br>INR.{{ object1.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="Thyroid" formaction="booking" value="Book Now" id="book" style="margin-left: 12%"/>
{% else %}
<input type="submit" name="Thyroid" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content2 %}
<h3 id="test">{{ object2.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object2.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="VIT D & B12" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="VIT D & B12" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content3 %}
<h3 id="test">{{ object3.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object3.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="VITAL CARE VITAMIN AND MINERAL CARE" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="VITAL CARE VITAMIN AND MINERAL CARE" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content4 %}
<h3 id="test">{{ object4.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object4.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="VITAL BONE CARE" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="VITAL BONE CARE" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content5 %}
<h3 id="test">{{ object5.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object5.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="LIVER FUNCTION CARE" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="LIVER FUNCTION CARE" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content6 %}
<h3 id="test">{{ object6.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object6.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="LIVER AND KIDNEY PROFILE" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="LIVER AND KIDNEY PROFILE" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content7 %}
<h3 id="test">{{ object7.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object7.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="OSTEOSCREEN PANEL" formaction="booking"  value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="OSTEOSCREEN PANEL" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content8 %}
<h3 id="test">{{ object8.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object8.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="Thyro SCREEN PANEL" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="Thyro SCREEN PANEL"  formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content9 %}
<h3 id="test">{{ object9.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object9.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="VITAL CARE DIABETES" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="VITAL CARE DIABETES" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content10 %}
<h3 id="test">{{ object10.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object10.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="VITAL CARE HEART" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="VITAL CARE HEART" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content11 %}
<h3 id="test">{{ object11.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object11.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="LIPID SCREEN" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="LIPID SCREEN" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content12 %}
<h3 id="test">{{ object12.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object12.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="HYPERTENSION PROFILE" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="HYPERTENSION PROFILE" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content13 %}
<h3 id="test">{{ object13.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object13.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="GLUCOSE FASTING" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="GLUCOSE FASTING" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content14 %}
<h3 id="test">{{ object14.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object14.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="COMPLETE BLOOD COUNT" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="COMPLETE BLOOD COUNT" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content15 %}
<h3 id="test">{{ object15.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object15.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="COMPLETE URINE EXAM" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="COMPLETE URINE EXAM" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}


{% block content16 %}
<h3 id="test">{{ object16.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object16.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="BILIRUBIN TOTAL" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="BILIRUBIN TOTAL" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content17 %}
<h3 id="test">{{ object17.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object17.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="HOMOCYSTEIN SERUM" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="HOMOCYSTEIN SERUM" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content18 %}
<h3 id="test">{{ object18.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object18.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="FREE T3 & T4" formaction="booking"formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="FREE T3 & T4" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content19 %}
<h3 id="test">{{ object19.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object19.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="ULTRASONOGRAPHY" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name=ULTRASONOGRAPHY" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content20 %}
<h3 id="test">{{ object20.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object20.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="HEMOGLOBIN A1C" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="HEMOGLOBIN A1C" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content21 %}
<h3 id="test">{{ object21.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object21.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="VITAL CARE ANEMIA " formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="VITAL CARE ANEMIA " formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content22 %}
<h3 id="test">{{ object22.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object22.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="CALCIUM SERUM" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="CALCIUM SERUM" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content23 %}
<h3 id="test">{{ object23.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object23.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="ALLERGY SCREENING" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="ALLERGY SCREENING" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}

{% block content24 %}
<h3 id="test">{{ object24.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object24.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="MASTER CHECK DIAMOND " formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="MASTER CHECK DIAMOND " formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}


{% block content25 %}
<h3 id="test">{{ object25.testname }}</h3>
<p  id="test">PRICE:<br>INR.{{ object25.testprice}}</p>
{% if user.is_authenticated %}
<input type="submit" name="MASTER CHECK GOLD" formaction="booking" value="Book Now" id="book" style="margin-left: 12%">
{% else %}
<input type="submit" name="MASTER CHECK GOLD" formaction="{%url 'login' %}" value="Book Now" id="book" style="margin-left: 12%"/>
{% endif %}
{% endblock %}