<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<script>
         setTimeout(function(){
            window.location.href = "homepage";
         }, 5000);
      </script>
    <style>
        .font{             
              font-size:48px;
              font-family:'Segoe Script', Tahoma, Geneva, Verdana, sans-serif;
              text-align:center;
        }
    </style>
    <meta charset="utf-8" />
    <title>Thankyou</title>
</head>
<body class="font" bgcolor="wheat">
    <P> Payment Successful</P>
    <P> Please wait till we redirect to the HOME PAGE</P>
   

</body>
</html>