<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>OPTHAMOLOGY</title>
    <link rel="stylesheet" href="/static/css/Opthamology.css">
    <link href="https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1 id="meet1">MEET YOUR DOCTOR</h1>
    <h3 id="meet2">OPTHAMOLOGY</h3>
    <div class="card-group">
      <div class="card">
        <img src="https://www.narayanahealth.org/sites/default/files/styles/doctors_image_style_200x200_/public/default_images/doctor-default_0.png?itok=W_uYmu-m" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title" id="doctor">Dr. Neha Mishra</h3>
          <p class="card-text" id="post">Senior Consultant (19 years)</p>
          <p class="card-text" id="degree">MBBS, MD, FAICO</p>
          <input type="submit" name="Book Appointment" value="Book Appointment" id="book" style="margin-left: 12%">
        </div>
      </div>
      <div class="card" style="margin-left: 15%">
        <img src="https://www.narayanahealth.org/sites/default/files/styles/doctors_image_style_200x200_/public/default_images/doctor-default_0.png?itok=W_uYmu-m" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title" id="doctor">Dr. Ranjit Mohan</h3>
          <p class="card-text" id="post">Consultant (12 years)</p>
          <p class="card-text" id="degree">MBBS,MS(Ophthamology)</p>
          <input type="submit" name="Book Appointment" value="Book Appointment" id="book" style="margin-left: 12%">
        </div>
      </div>
      <div class="card" style="margin-right: 10%">
        <img src="https://www.narayanahealth.org/sites/default/files/styles/doctors_image_style_200x200_/public/default_images/doctor-default_0.png?itok=W_uYmu-m" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" id="doctor">Dr. Farhan Fazal</h5>
          <p class="card-text" id="post">Visiting Consultant (7 years)</p>
          <p class="card-text" id="degree">MBBS,DNB,FRCS</p>
          <input type="submit" name="Book Appointment" value="Book Appointment" id="book" style="margin-left: 12%">
        </div>
      </div>
    </div>
  </body>
</html>