<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .font{             
              font-size:48px;
              font-family:'Segoe Script', Tahoma, Geneva, Verdana, sans-serif;
              text-align:center;
        }
    </style>
    <meta charset="utf-8" />
    <title>Thankyou</title>
</head>
<body class="font" bgcolor="wheat">
    <P> Thank you for contacting</P>
    <P> Aslepius, A leading light in health care</P>
    <P> Our represetative will get back to you shortly and contact you on the given number</P>
   
    <h6> <a href="{% url 'FrontScreen' %}">click here to return to home</a></h6>

</body>
</html>