<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Vaccines</title>
    <link rel="stylesheet" href="/static/css/vaccines.css">
</head>
<body bgcolor="antiquewhite">
<h1><center class="font-1"> Vaccines</center></h1>
    <div class="vac">
        <div class="form-box">
            <form>
                <h1> <font class="font">0-6 Months</font></h1>
                <div>
                    <label class="container" for="Dtap">
                        DTap /DTP/DT Diptheria, Tetanus and Pertussis

                        <input type="checkbox" id="Dtap" name="Dtap" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="container" for="polio">
                        Polio

                        <input type="checkbox" id="polio" name="polio" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="container" for="Hib">
                        Hib Hameophilus Influenza B

                        <input type="checkbox" id="Hib" name="Hib" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="container" for="HepB">
                        Hep B Hepatitus B

                        <input type="checkbox" id="HepB" name="HepB" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="container" for="rotavirus">
                        Rotavirus

                        <input type="checkbox" id="rotavirus" name="rotavirus" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <button type="submit" class="submit-btn">Vaccinate</button>
                </div>
            </form>
        </div>
        <div class="form-box-1">
            <form>
                <h1> <font class="font">6-18 Months</font></h1>
                <div>
                    <label class="container" for="Dtap1">
                        DTap /DTP/DT Diptheria, Tetanus and Pertussis
                        <input type="checkbox" id="Dtap1" name="Dtap1" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="container" for="Polio">
                        Polio
                        <input type="checkbox" id="Polio" name="Polio" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="container" for="MMR">
                        Measels, Mumps and Rubella
                        <input type="checkbox" id="MMR" name="MMR" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="container" for="Hib1">
                        Hib Hameophilus Influenza B
                        <input type="checkbox" id="Hib1" name="Hib1" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>

                    <label class="container" for="HepA">
                        Hep A Hepatitus A
                        <input type="checkbox" id="HepA" name="HepA" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="container" for="Var">
                        Varicella
                        <input type="checkbox" id="Var" name="Var" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <button type="submit" class="submit-btn">Vaccinate</button>
                </div>

            </form>
        </div>
        <div class="form-box-2">
            <form>
                <h1> <font class="font">2 years-7 years</font></h1>
                <div>
                    <label class="container" for="Dtap2">
                        DTap /DTP/DT Diptheria, Tetanus and Pertussis
                        <input type="checkbox" id="Dtap2" name="Dtap2" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="container" for="Td">
                        Td Tetanus and Diphtheria
                        <input type="checkbox" id="Td" name="Td" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="container" for="polio1">
                        Polio
                        <input type="checkbox" id="polio1" name="polio1" />
                        <span class="checkmark"></span>
                    </label>

                </div>
                <div>
                    <label class="container" for="typ">
                        Typhoid
                        <input type="checkbox" id="typ" name="typ" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="container" for="Mmr">
                        MMR Measels Mumps and Rubella
                        <input type="checkbox" id="Mmr" name="Mmr" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="container" for="Varc">
                        Varicella
                        <input type="checkbox" id="Varc" name="Varc" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div> <button type="submit" class="submit-btn">Vaccinate</button></div>

            </form>
        </div>
        <div class="form-box-3">
            <form>
                <h1> <font class="font">Boosters</font></h1>
                <div>
                    <label class="container" for="PolioB">
                        Polio Booster(17 YRS)
                        <input type="checkbox" id="PolioB" name="PolioB" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="container" for="MMRB">
                        MMR Measels Mumps and Rubella Booster at 11-13 YRS
                        <input type="checkbox" id="MMRB" name="MMRB" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="container" for="HPV">
                        Human Papilloma Virus (HPV) at 10-12 YRS
                        <input type="checkbox" id="HPV" name="HPV" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <button class="submit-btn" type="submit"> Vaccinate </button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>