<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
p{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

body{
   background:url(/static/images/bg1.jpg)
}


.accordion {
  background-color: #7CFC00;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #87CEFA;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
</style>
</head>
<body>

<h1>FAQ'S</h1>
<p>We may answer some frequently asked questions about the services we provide.</p>
<button class="accordion">What may I expect in my first Appointment?</button>
<div class="panel">
  <p>You can expect that your doctor will diagnose the ailment and suggest for medical or surgical treatment. In case there are any other tests required, your doctor will device a descriptive diagnosis.</p>
</div>

<button class="accordion">Will my insurance cover the cost of the procedure?</button>
<div class="panel">
  <p>Most of the elective surgeries are covered under insurance after 2 yrs of taking the insurance policy, however emergency procedures are generally covered from day 1 of taking policy.</p>
</div>

<button class="accordion">What will be the lifestyle changes POST-SURGERY?</button>
<div class="panel">
  <p>Lifestyle changes post surgery depends upon the surgery you are undergoing but in general:<br>
-taking food on time<br>
-drinking lot of water<br>
-avoid spicy food<br>
-steam inhalation after nose surgery<br>
-reducing weight<br></p>
</div>

<button class="accordion">What should be my ideal diet to stay healthy?</button>
<div class="panel">
  <p>Healthy eating means consuming the right portions (Quantity) of foods from all food groups to lead a healthy life. We need a wide range of nutrients to lead a healthy and an active life style. The requirement of nutrient keeps changing in different phase of life. For e.g. Infancy would require breastfeed for 6 month followed by good weaning, whereas a preschooler a balanced diet ,more of proteins containing the essential food groups and nutrients - vitamin A, C, calcium, iron and zinc.<br>
A Healthy good diet should be fitting in your nutritional lifestyle and not lifestyle fitting in diet, if later is followed compliance would be only for a short span. </p>
</div>

<button class="accordion">What all should I carry for my first appointment with a dietician?</button>
<div class="panel">
  <p>It is important to carry all your medical reports, doctor’s prescription. A diet dairy with the necessary details (if you have maintained any) like: Your weight, daily intake of calories, any exercise plan you have maintained, and what you have been eating for 10-15 days etc. In case you are using any nutrition supplement, do remember to mention it too. If you are Diabetic remember to carry blood sugar charting. Try to maintain the short term and long terms goals of your diet and take assistance from dietician in achieving it.</p>
</div>

<button class="accordion">Are all consultants availabe 24 hours?</button>
<div class="panel">
  <p>All the consultants are full-time employees of the hospital; hence, outpatient services are available on all working days. We have doctors in the positions of medical and surgical registrars, junior and senior registrars, and junior and senior residents, thus offering 24 hours coverage in areas such as Casualty, Wards, Intensive Care Units and Post Op recovery areas. Any complaints in the odd hours are first attended to by the resident doctors and, depending upon the case, the respective consultants are called in to attend to the patients.</p>
</div>

<button class="accordion">What is the mode of payment?</button>
<div class="panel">
  <p>Patients can make the deposit by cash, debit or credit cards or demand draft. We do not accept cheques.</p>
</div>

<button class="accordion">What is the procedure of discharge?</button>
<div class="panel">
  <p>Your consultant will make an entry for discharge on your case sheet. After this, the resident doctors prepare the discharge card. Then the file is sent to the IP reception for clearance, after which the final bill is prepared, taking into account all the deposits. When the final bill is ready, payment has to be made at the admission counter. This procedure may take 2-3 hours.</p>
</div>

<button class="accordion">Is my Mediclaim accepted at your hospital?</button>
<div class="panel">
  <p>Yes, if your TPA is on the panel of our hospital.</p>
</div>

<button class="accordion">From where will I collect visitor pass?</button>
<div class="panel">
  <p>Visitors passes are issued from the Reception.</p>
</div>


<button class="accordion">What is Bypass Surgery?</button>
<div class="panel">
  <p>The arteries that supply blood to the heart muscles sometimes get clogged by plaques (a build up of fat, cholesterol and other substances). This slows down or stops regular blood flow through the heart's blood vessels, leading to chest pain or 'Heart Attack'. Heart Bypass Surgery is a type of surgery, where the blood flow is 'rerouted or bypassed' around the clogged arteries to improve the blood flow and oxygen to the heart.</p>
</div>


<button class="accordion">What is Angiography?</button>
<div class="panel">
  <p>Angiography is an X-Ray examination of the blood vessels - called 'arteries'.
To make the arteries visible on X-Ray, a type of dye called "contrast" is injected.
A small, sterile flexible tube called a 'catheter' is inserted into the arterial system, usually in the region of the groin, where the artery is close to the skin and can be compressed when necessary against the hip bone situated immediately behind it. Sometimes other areas such as the arms are used. Contrast is then injected into the blood vessels and X-Ray images are obtained.</p>
</div>

<button class="accordion">What is Dialysis?</button>
<div class="panel">
  <p>Dialysis is a medical process through which a person's blood is cleansed of the toxins, which the kidneys would have normally flushed out.<br>

It is generally done when a person's kidneys do not function properly. In most cases patients requiring Dialysis do not need admission.</p>
</div>


<button class="accordion">From where will I be able to know the condition and treatment details of the patient?</button>
<div class="panel">
  <p>For patients in the ICU & ITU, the 'Briefing' time is in between 7.30am - 8am in the morning and at 5.30 pm - 6.00 pm (ITU) and 6.00 pm- 6.30 pm (ICU) in the evening. 2 Persons are allowed to visit the patient and they can have detailed discussion with the Consultant/Registrar on duty.<br>

At night between 10.00 pm & 10:30 pm the patient's family is again briefed. For the patients admitted in the Wards, information can be obtained from the treating Consultant and the concerned Medical Officer.</p>
</div>


<button class="accordion">How do I get a discharge summary?</button>
<div class="panel">
  <p>Your summary report or discharge card will be given to you by the nursing staff at the time of the discharge. In case there is a delay in the preparation of a discharge card, it will be mailed or posted to you within a week of the discharge.</p>
</div>



<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>

</body>
</html>
