<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CARDIOLOGY</title>
    <link rel="stylesheet" href="/static/css/Cardiology.css">
    <link href="https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1 id="meet1">MEET YOUR DOCTOR</h1>
    <h3 id="meet2">CARDIOLOGY</h3>
    <div class="card-group">
      <div class="card">
        <img src="https://www.narayanahealth.org/sites/default/files/styles/doctors_image_style_200x200_/public/default_images/doctor-default_0.png?itok=W_uYmu-m" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title" id="doctor">Dr.Padmakumar P</h3>
          <p class="card-text" id="post">Senior Consultant (23 years)</p>
          <p class="card-text" id="degree">MBBS, MD(General Medicine)</p>
          <button type="submit" name="Book Appointment" value="Book Appointment" id="book" style="margin-left: 12%"> 
          <a href="{% url 'bookappointment' %}">Book Appointment</a></input>
        </div>
      </div>
      <div class="card">
        <img src="https://www.narayanahealth.org/sites/default/files/styles/doctors_image_style_200x200_/public/default_images/doctor-default_0.png?itok=W_uYmu-m" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title" id="doctor">Dr. Maitri Chauduri</h3>
          <p class="card-text" id="post">Paediatric Cardiology (17 years)</p>
          <p class="card-text" id="degree">MBBS, MD (Paediatrics)</p>
          <button type="submit" name="Book Appointment" value="Book Appointment" id="book" style="margin-left: 12%"> 
            <a href="{% url 'bookappointment' %}">Book Appointment</a></input>
        </div>
      </div>
      <div class="card">
        <img src="https://www.narayanahealth.org/sites/default/files/styles/doctors_image_style_200x200_/public/default_images/doctor-default_0.png?itok=W_uYmu-m" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" id="Girish">Dr.Girish Navasundi</h5>
          <p class="card-text" id="Sr">Senior Consultant (13 years)</p>
          <p class="card-text" id="degree">MBBS, MD-General Medicine, DNB- Cardiology</p>
          <button type="submit" name="Book Appointment" value="Book Appointment" id="book" style="margin-left: 12%"> 
            <a href="{% url 'bookappointment' %}">Book Appointment</a></input>
        </div>
      </div>
    </div>

  </body>
</html>
