<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NEPHROLOGY</title>
    <link rel="stylesheet" href="/static/css/Nephrology.css">
    <link href="https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1 id="meet1">MEET YOUR DOCTOR</h1>
    <h3 id="meet2">NEPHROLOGY</h3>
    <div class="card-group">
      <div class="card">
        <img src="https://www.narayanahealth.org/sites/default/files/styles/doctors_image_style_200x200_/public/default_images/doctor-default_0.png?itok=W_uYmu-m" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title" id="doctor">Dr. Ayaan Aggarwal</h3>
          <p class="card-text" id="post">Senior Consultant (25 years)</p>
          <p class="card-text" id="degree">MBBS,MD,DM(Nephrology)</p>
          <input type="submit" name="Book Appointment" value="Book Appointment" id="book" style="margin-left: 12%">
        </div>
      </div>
      <div class="card" style="margin-left: 18%">
        <img src="https://www.narayanahealth.org/sites/default/files/styles/doctors_image_style_200x200_/public/default_images/doctor-default_0.png?itok=W_uYmu-m" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title" id="doctor">Dr. Raunak Ahluwalia</h3>
          <p class="card-text" id="post">Consultant (8 years)</p>
          <p class="card-text" id="degree">MBBS,DNB(Nephrology)</p>
          <input type="submit" name="Book Appointment" value="Book Appointment" id="book" style="margin-left: 12%">
        </div>
      </div>
      <div class="card" style="margin-right: 10%">
        <img src="https://www.narayanahealth.org/sites/default/files/styles/doctors_image_style_200x200_/public/default_images/doctor-default_0.png?itok=W_uYmu-m" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" id="doctor">Dr. Saanvi Dubey</h5>
          <p class="card-text" id="post">Visiting Consultant (10 years)</p>
          <p class="card-text" id="degree">MBBS,MD,DM</p>
          <input type="submit" name="Book Appointment" value="Book Appointment" id="book" style="margin-left: 12%">
        </div>
      </div>
    </div>
  </body>
</html>
