<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PAEDIATRICS</title>
    <link rel="stylesheet" href="/static/css/Paediatrics.css">
    <link href="https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1 id="meet1">MEET YOUR DOCTOR</h1>
    <h3 id="meet2">PAEDIATRICS</h3>
    <div class="card-group" id="first">
      <div class="card">
        <img src="https://www.narayanahealth.org/sites/default/files/styles/doctors_image_style_200x200_/public/default_images/doctor-default_0.png?itok=W_uYmu-m" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title" id="doctor">Dr. Rishit Bansal</h3>
          <p class="card-text" id="post">Visiting Consultant (14 years)</p>
          <p class="card-text" id="degree">MBBS,DCH,MRCPCH,CCT</p>
          <form action="#" method = "POST" >
            {% csrf_token %}
            <input type="hidden" id="docid" name="docid" value = {{object1.doctorID}}>
          <button type="submit" formaction="{% url 'bookappointment' %}" name="Book Appointment" value="Book Appointment" id="book" style="margin-left: 12%"> 
            Book Appointment
            </button></form>
        </div>
      </div>
      <div class="card" style="margin-left: 23%">
        <img src="https://www.narayanahealth.org/sites/default/files/styles/doctors_image_style_200x200_/public/default_images/doctor-default_0.png?itok=W_uYmu-m" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title" id="doc">Dr. Aarav Chaudhary</h3>
          <p class="card-text" id="pt">Senior Consultant (23 years)</p>
          <p class="card-text" id="degree">MBBS,DCH,MD(Paediatrics),DNB(Paediatrics),MRCP</p>
          <form action="#" method = "POST" >
            {% csrf_token %}
            <input type="hidden" id="docid" name="docid" value = {{object2.doctorID}}>
          <button type="submit" formaction="{% url 'bookappointment' %}" name="Book Appointment" value="Book Appointment" id="book" style="margin-left: 12%"> 
            Book Appointment
            </button></form>
        </div>
      </div>
    </div><br><br><br><br>
    <div class="card-group" id="second">
        <div class="card">
          <img src="https://www.narayanahealth.org/sites/default/files/styles/doctors_image_style_200x200_/public/default_images/doctor-default_0.png?itok=W_uYmu-m" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title" id="doctor">Dr. Tanvi Dixit</h3>
            <p class="card-text" id="post">Consultant (12 years)</p>
            <p class="card-text" id="degree">MBBS, MD-Paediatrics</p>
            <form action="#" method = "POST" >
              {% csrf_token %}
              <input type="hidden" id="docid" name="docid" value = {{object3.doctorID}}>
            <button type="submit" formaction="{% url 'bookappointment' %}" name="Book Appointment" value="Book Appointment" id="book" style="margin-left: 12%"> 
              Book Appointment
              </button></form>
          </div>
        </div>
        <div class="card" style="margin-left: 23%">
          <img src="https://www.narayanahealth.org/sites/default/files/styles/doctors_image_style_200x200_/public/default_images/doctor-default_0.png?itok=W_uYmu-m" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title" id="doctor">Dr. Sahana Chakraborty</h3>
            <p class="card-text" id="post">Consultant (10 years)</p>
            <p class="card-text" id="degree">MBBS,MD-Paediatrics</p>
            <form action="#" method = "POST" >
              {% csrf_token %}
              <input type="hidden" id="docid" name="docid" value = {{object.doctorID}}>
            <button type="submit" formaction="{% url 'bookappointment' %}" name="Book Appointment" value="Book Appointment" id="book" style="margin-left: 12%"> 
              Book Appointment
              </button></form>
          </div>
        </div>
      </div>

  </body>
</html>